Main Flow
[{"id":"d7ccc567.283338","type":"http response","z":"beeeade2.41115","name":"","x":989.5,"y":429,"wires":[]},{"id":"414cba0d.beb344","type":"function","z":"beeeade2.41115","name":"Set headers","func":"// Set the content type to audio wave\nmsg.headers={ 'Content-Type': 'audio/wav'};\nmsg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":844,"y":458,"wires":[["d7ccc567.283338"]]},{"id":"773edd9a.88c124","type":"watson-text-to-speech","z":"beeeade2.41115","name":"","lang":"english","voice":"en-US_MichaelVoice","format":"audio/wav","x":886.5,"y":366,"wires":[["414cba0d.beb344"]]},{"id":"120af126.edf50f","type":"function","z":"beeeade2.41115","name":"Format speech","func":"msg.payload = \"I'm sorry, I don't understand what you meant by: \" + msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":276,"wires":[["773edd9a.88c124"]]},{"id":"37a17d18.c85e82","type":"link out","z":"beeeade2.41115","name":"Outgoing news","links":["c1a9e90c.3e5618"],"x":615.5,"y":164,"wires":[]},{"id":"fb351fc7.04cae","type":"link out","z":"beeeade2.41115","name":"Outgoing weather","links":["bd743b37.428bc8"],"x":594.5,"y":122,"wires":[]},{"id":"991a0322.66e6","type":"switch","z":"beeeade2.41115","name":"Weather | News | 'Read It' | Otherwise","property":"transcription","propertyType":"msg","rules":[{"t":"cont","v":"weather","vt":"str"},{"t":"cont","v":"news","vt":"str"},{"t":"cont","v":"Read it","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":366.5,"y":152,"wires":[["fb351fc7.04cae"],["37a17d18.c85e82"],["cc23c4c6.33dc38"],["120af126.edf50f"]]},{"id":"158ea429.ea715c","type":"cloudant in","z":"beeeade2.41115","name":"","cloudant":"","database":"news","service":"watsondemos-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":774.5,"y":257,"wires":[["b8e54021.471ac","ed256d04.12da9"]]},{"id":"cc23c4c6.33dc38","type":"function","z":"beeeade2.41115","name":"'Read it' - grab article","func":"msg.payload = 'article';\nreturn msg;","outputs":1,"noerr":0,"x":669.5,"y":205,"wires":[["158ea429.ea715c"]]},{"id":"b8e54021.471ac","type":"function","z":"beeeade2.41115","name":"Format text","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":928.5,"y":279,"wires":[["773edd9a.88c124"]]},{"id":"ed256d04.12da9","type":"debug","z":"beeeade2.41115","name":"","active":true,"console":"false","complete":"false","x":937.5,"y":231,"wires":[]},{"id":"c9e86d08.36179","type":"http in","z":"beeeade2.41115","name":"","url":"/sendtext","method":"get","swaggerDoc":"","x":75,"y":138,"wires":[["44099f55.bbf66","fda1b5ce.025e48"]]},{"id":"fda1b5ce.025e48","type":"debug","z":"beeeade2.41115","name":"","active":true,"console":"false","complete":"payload","x":245,"y":73,"wires":[]},{"id":"44099f55.bbf66","type":"function","z":"beeeade2.41115","name":"","func":"console.log(\"before: \" + msg.payload.q);\nmsg.transcription=decodeURIComponent(msg.payload.q);\nconsole.log(\"after: \" + msg.transcription);\nreturn msg;","outputs":1,"noerr":0,"x":151,"y":204,"wires":[["991a0322.66e6","71998512.8e667c"]]},{"id":"71998512.8e667c","type":"debug","z":"beeeade2.41115","name":"","active":true,"console":"false","complete":"true","x":220.5,"y":283,"wires":[]}]
